body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #1B1212;
    border-radius: 20px;
    padding: 20px;
    width: 320px;
}

.display {
    background-color: #332;
    color: #0f0;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
}

.button{
    background-color: #332;
    color: #fff;
    font-size: 1.5em;
    border:#0f0;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}

.button:active {
    background-color: #666;
}

.button:last-child {
    background-color: #0a0;
}

.button:last-child:hover {
    background-color: #0b0;
}
.button.equal{
    grid-column: span 3;
    border-radius: 20PX;
    
}